*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.work-item{
    width: 100%;
    height:200px;
    background-color:red;
    border: 2px solid black;
    
}
header{
    display:flex;
    justify-content: space-between;
       padding:10px;
       background:#b01b2e;
       position:fixed;
       width:100%;
}
.logo{
    padding:15px;
    float:left;
}
.menu-bar{
    display:flex;
}
.menu-bar>li{
    list-style: none;
    padding:20px 15px ;
    

}
.menu-bar a{
    font-size:22px;  
    text-decoration:none;
    color:white
}
.menu-bar a:hover{
    background:green;
    color:black;
    font-weight:bold;
    padding:5px;
    border-radius:4px;
    transition:1s;
}

#about{
    width:100%;height:450px;
    background:rgb(43, 40, 40);
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}
.second-items h1{
font-size:55px;
color:white;
padding:0 20px;
}
.second-items p{
    font-size:25px;
    color:white;
     padding:0 4.8em;
}
#work{
    background-color:#3b3b6b;
    height:2000px;
    width:100%;
    padding-top:50px;
}
#work h2{
    color:white;
    font-size:50px;
    
    padding:0 38px;
}
.line-under{
    width:90%;
    margin:auto;
}

.work-items{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}
.img1{
    background:white;
    width:350px;
    height:250px;
    margin-top:18px;
}
.img2{
    background:white;
    width:350px;
    height:250px;
    margin-top:18px;
}

.img3{
    background:white;
    width:350px;
    height:250px;
    margin-top:18px;
}

.img4{
    background:white;
    width:350px;
    height:250px;
    margin-top:18px;
}

.img5{
    background:white;
    width:350px;
    height:250px;
    margin-top:18px;
}

.img6{
    background:white;
    width:350px;
    height:250px;
    margin-top:18px;
}
.button{
    background:rgb(22, 20, 20);
   width:130px;
   padding:15px;
   margin:50px auto;
}
.button a{

    color:white;
    text-decoration:none;font-size:28px;
}

.button a :hover{
    background:#b01b2e;
    transition:1s;
}

#contact{
    background:rgb(43, 40, 40);
    height:450px;
    padding-top:30px;
    border-bottom:7px solid #b01b2e;
}
.contact-items h2{
    color:white;
    margin:0 2em;
    font-size:45px;
    padding-left:30px;
}
.contact-items p{
    color:white;
    margin:0 2.9em;
    font-size:20px;
    padding-left:35px;
}
.footer{
    background:rgb(43, 40, 40);
    height:200px;
padding-top:20px;
}
.footer p{
    color:white;width:55%;
    margin:0 110px;
}

.footer span{
    color:white;
    width:60%;
   margin-left:120px;
   
    font-size:18px;
   
}

@media screen and (min-width:420px) {
   
   .work-items{
        display:flex;
        flex-direction:row;
        
        
    }
    .work-items >div{
        margin:15px;
        width:350px;
    }
   #work{
       height:900px;
   }
   .contact-items h2{
       width:90%;
       font-size:60px;
       padding:0 2.3%;
   }
   .contact-items p{
    width:90%;
    font-size:20px;
    padding:0 24.7%;
}  
.footer {
display:flex;
width:100%;
margin:0;
padding-top:45px;
}
.footer p{
    width:70%;
    margin:0;padding-left:20px;
    font-size:25px;
}
.footer span{
    width:40%;
    margin:0;padding-top:14px;
    padding-left:45px;
}


}

